<form>
    <h1>{{ title }}</h1>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" [(ngModel)]="lista.descricao" placeholder="Digite a descrição da lista" name="descricao" required>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Equipe</mat-label>
        <mat-select [(ngModel)]="lista.equipe_id" name="equipe_id" required>
            <mat-option *ngFor="let item of equipe" [value]="item.id">{{ item.descricao }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="buttons">
        <button class="mat-elevation-z8" (click)="update()" mat-raised-button color="primary">Atualizar</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
    </div>
</form>